# Logs
*.log

# Dependency directories
node_modules/

# Build directories
dist/
build/

# Environment variables
.env

# IDE or editor settings
.vscode/
.idea/

# Operating system files
.DS_Store # macOS
Thumbs.db # Windows